altgraph==0.17
asgiref==3.2.3
astroid==2.3.3
beautifulsoup4==4.7.1
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
cycler==0.10.0
Cython==0.29.15
Django==3.0.3
Eel==0.12.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
google-play-reviews-scraper==0.1.2
google-play-scraper==0.0.2.0
googleplay-api==0.1.0
greenlet==0.4.15
idna==2.7
isort==4.3.21
joblib==0.14.1
jsonpickle==1.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.4.2
matplotlib==3.1.2
mccabe==0.6.1
nltk==3.4.5
numpy==1.18.1
opencv-python==4.1.2.30
pandas==0.25.3
pefile==2019.4.18
pickle5==0.0.9
play-scraper==0.6.0
protobuf==3.11.3
pycparser==2.19
PyInstaller==4.0.dev0+a1f92c6a08
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.20.1
requests-futures==1.0.0
scikit-learn==0.22.1
scipy==1.4.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.13.0
sklearn==0.0
soupsieve==1.9.5
sqlparse==0.3.1
textblob==0.15.3
typed-ast==1.4.1
urllib3==1.24.3
whichcraft==0.6.1
wrapt==1.11.2