/*Internet Connection Checker*/
.status {
  width: 15px;
  height:15px;
  margin-top:10px;
  color: #FFF;
  transition: all .575s;
  border-radius: 50%;
  border-color: azure;
  float:right;
  margin-right: 100px;
}

#status-text{
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-bottom: 10px;
}
.status.on {
  background: #2DDE98;
  text-shadow: 0 0 8px rgba(0,0,0,.4);
}
.status.off {
  background: #ff6c5f;
}



.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  .app-search-icon {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: aqua;
    margin-top: 15px;
    margin-right: 10px;
  }
  .search-app-developer{
    font-size:11px;
  }
  .app-search-desc{
    float:right;
  }
  #app-icon {
    border-radius: 20%;
    width: 60px;
    margin-left: 20px;;
    height: 60px;
  }
  .data-blocks{
    display: inline;
  }
  .canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
    -ms-user-select: none;
  }
  #chart-area{
    visibility: visible;
  }
 
  
  :root {
    --star-size: 30px;
    --star-color: #fff;
    --star-background: #fc0;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    margin-left: 75%;
  }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /*Loader*/
  #loader-icon {
    visibility: hidden;
  }
  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  